#landing {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/landing_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#landing img {
    width: 40vh;
    margin-bottom: 10vh;
}

#landing h1 {
    margin: 0;
    color: white;
    font-weight: 400;
    margin-bottom: 10vh;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0px 0px 4px #00000036;
}

#landing a {
    color: white;
    padding: 1rem 2rem;
    background-color: #30AD4B;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    transition: transform 150ms ease-in-out;
}

#landing a:hover {
    transform: scale(1.06);
}

@media screen and (max-aspect-ratio: 1/1) {
    html {
        height: 100%;
    }

    #landing {
        height: 100%;
        padding: 10vw;
        align-items: unset;
    }

    #landing .image-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #landing img {
        width: 40vw;
    }

    #landing h1 {
        font-size: 1.2rem;
        margin-bottom: 3vh;
    }
}