.image-button.first-upload {
    font-size: 1.3rem;
    border: none;
    background-color: #f3f3f3;
    outline: .2rem dashed #d4d4d4;
    outline-offset: -1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    align-self: center;
    justify-self: center;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease-in-out, outline 100ms ease-in-out, color 100ms ease-in-out;
}

.image-button.first-upload i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.image-button.first-upload:hover {
    background-color: var(--main-item-color);
    outline-color: white;
    outline-offset: -1.8rem;
    color: white;
    transform: scale(1);
}

.image-button.reset-upload {
    align-self: end;
    background-color: var(--bg2-color) !important;
    color: black !important;
}

@media screen and (max-aspect-ratio: 1/1) {
    .image-button.first-upload {
        width: 50vw;
        height: 50vw;
    }
}