<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fbfbfb">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}Champ'IA{% endblock %}</title>
</head>
<body>
    <nav class="logo-nav">
        <a href="{{ url_for('index') }}">
            <img src="static/img/logo-black.png" alt="">
        </a>
    </nav>

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
</body>
</html>