{% extends 'base.html' %}

{% block title %}Correct the prediction{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="static/css/correction.css">{% endblock %}
{% block script %}<script src="static/js/correction.js"></script>{% endblock %}

{% block content %}
    <form class="correct-form radio-button-form" method="POST">
        <header class="main-item">What was the intended mushroom?</header>

        <div class="main-item">
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-0" value="0" checked>
                <label for="radio-mushroom-0">Amanita bisporigera</label>
            </div>
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-1" value="1">
                <label for="radio-mushroom-1">Amanita muscaria</label>
            </div>
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-2" value="2">
                <label for="radio-mushroom-2">Boletus edulis</label>
            </div>
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-3" value="3">
                <label for="radio-mushroom-3">Cantharellus</label>
            </div>
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-4" value="4">
                <label for="radio-mushroom-4">Omphalotus olearius</label>
            </div>
            <div class="correct-form-row">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-5" value="5">
                <label for="radio-mushroom-5">Russula mariae</label>
            </div>
            <div class="correct-form-row other-container">
                <input class="correct-form-item" name="class" type="radio" id="radio-mushroom-other" value="other">
                <label for="radio-mushroom-other">Other</label>
                <input id="correct-form-text" type="text" placeholder="Intended mushroom" name="correct_class" disabled>
            </div>
        </div>
        <button class="correct-form-item main-item" type="submit">Submit</button>
        <button class="back main-item">Cancel</button>
    </form>
{% endblock %}