{% extends 'base.html' %}

{% block title %}Your result{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="static/css/prediction.css">{% endblock %}

{% block content %}
    <div class="prediction-container">
        <div class="image-preview-container main-item visible">
            <img class="image-preview" alt="image preview" src="static/tmp/{{ image }}">
        </div>

        <div class="result-container">
            <header>Result</header>

            <div class="image-wrapper">
                <img src="static/img/{{predictions[0][0]}}.jpg" alt="">
            </div>

            <div class="main-predict">
                <header>{{ predictions[0][0] }}</header>
                <p>Confidence 
                    {% if predictions[0][1] > 98 %}
                        <span class="high">High</span>
                    {% elif predictions[0][1] > 80 %}
                        <span class="good">Good</span>
                    {% elif predictions[0][1] > 50 %}
                        <span class="medium">Medium</span>
                    {% else %}
                        <span class="low">Low</span>
                    {% endif %}
                </p>
            </div>

            <div class="infos-predict">
                <h2>Infos</h2>
                <p>Edibility
                    {% if predictions[0][0] in ("Boletus edulis", "Cantharellus", "Russula mariae") %}
                        <span class="edible">Edible</span>
                    {% else %}
                        <span class="toxic">Toxic</span>
                    {% endif %}
                </p>
            </div>

            <div class="class-list main-item">
                {% for label, proba in predictions %}
                <span class="class-title class-item">{{ label }}:</span>
                <div class="class-progress class-item" style="background: linear-gradient(90deg, #30ad4b {{ proba }}%, #f0f2f3 {{ proba }}%)"></div>
                <span class="class-proba">{{ proba }}%</span>
                {% endfor %}
            </div>
        </div>

        <button class="main-item" onclick="location.href='{{ url_for('start') }}'">Send a new image</button>

        <button class="prediction-correct main-item" onclick="location.href='{{ url_for('correction', image_name=image) }}'">Correct this result</button>
    </div>
{% endblock %}