{% extends 'base.html' %}

{% block title %}Upload an image{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="static/css/start.css">
    <link href="static/fontawesome/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block script %}<script src="static/js/start.js"></script>{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="image-upload-form main-container" method="POST" action="{{ url_for('prediction') }}" enctype = "multipart/form-data">    
            <div class="image-preview-container main-item" hidden></div>
    
            <input class="image-input" name="image" type="file" accept="image/*" hidden />
            <button class="image-button main-item first-upload">
                <i class="far fa-file-image"></i>
                Upload a file
            </button>
    
            <button class="image-submit main-item" type="submit">Submit</button>
        </form>

        <div>
            <header class="main-item">Want to know if you can eat this mushroom?</header>
            <p><strong>Champ'IA</strong> is an Artificial Intelligence allowing you to identify mushrooms thanks to a simple photo. In a few seconds, you will therefore be able to know whether a fungus seems dangerous or not.</p>

            <p>For now, <strong>Champ'IA</strong> is able to identify <strong>6 species</strong> of fungi: <i>Amanita bisporigera</i>, <i>Amanita muscaria</i>, <i>Boletus edulis</i>, <i>Cantharellus</i>, <i>Omphalotus olearius</i> and <i>Russula mariae</i>.</p>

            <p>However, if the AI is wrong and you know the species of the fungus in question, it is entirely possible for you to correct it so that it improves.</p>

            <p><strong>Warning!</strong> Artificial Intelligence is not perfect. It may be that this is wrong. Thus, during the result, you will get a confidence index as well than the other 3 most likely species. If in doubt, refrain from consuming the mushroom in question.</p>
            
            <p>In addition, <strong>we collect the images</strong> sent to us in order to improve the performance of Champ'IA. Please do not send a photo containing personal information.</p>
        </div>
    </div>
{% endblock %}